.bubble 
{
  position: relative;
  min-height: 40px;
  max-width: 800px;
  width: auto;
  height: auto;
  padding: 10px;
  background: #FFFFFF;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: #b9babe solid 1px;
}

@media screen and (max-width: 1160px) {
  .msg-bubble {
    max-width: 70%;
  }
}

@media screen and (max-width: 600px) {
  .msg-bubble {
    max-width: 60%;
  }
}

@media screen and (max-width: 459px) {
  .msg-bubble {
    max-width: 43%;
  }
}

@media screen and (max-width: 350px) {
  .msg-bubble {
    max-width: 33%;
  }
}

.bubble:after 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #FFFFFF;
  display: block;
  width: 0;
  z-index: 1;
  left: -15px;
  top: 15px;
}

.bubble:before 
{
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 10px 15px 10px 0;
  border-color: transparent #b9babe;
  display: block;
  width: 0;
  z-index: 0;
  left: -16px;
  top: 15px;
}

.bubble.disabled {
  background: #eeeeee;
}

.bubble.disabled:after {
  border-color: transparent #eeeeee;
}

.bubble.error {
  background: #EEA7A7;
}

.bubble.error:after {
  border-color: transparent #EEA7A7;
}