
.msg {
  margin-bottom: 5px;
}

.msg-picture {
  display: inline-block;
  vertical-align: top;
}

.msg-bubble {
  margin-left: 25px;
  display: inline-block;
  vertical-align: top;
}

.msg-time {
  color: #cccccc;
  font-size: small;
}