
html, body {
    
}

a {
  color: #b5b833;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}


.brand {
  color: #b5b833;
  font-size: 36px;
  font-family: 'Chewy', cursive;
  text-decoration: none;
  float: left;
}

.options-button {
  float: right;
  margin-top: 5px;
  font-size: 2rem;
  color: #b5b833;
}

.options-button:hover {
  cursor: pointer;
}

.options {
  position: absolute;
  right: 0;
  top: 50px;
  min-width: 200px;
  max-width: 200px;
  z-index: 2;
  background: #dcdddf;
  border-bottom: 1px solid #b9babe;
  border-left: 1px solid #b9babe;
  border-right: 1px solid #b9babe;
  display: none;
}

.options a {
  display: block;
  padding: 10px;
  border-top: 1px solid #b9babe;
  text-align: right;
  color: #898B40;
}

.options a:hover {
  background: #E0E0E2;
  cursor: pointer;
  text-decoration: none;
}

.brand:hover {
  text-decoration: none;
}

.header {
  height: 50px;
}

.header, .room-footer {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  background: #dcdddf;
}

.room-footer {
  bottom: 0;
  top: auto;
  height: 108px;
  padding-top: 10px;
}

.room-content {
  position: absolute;
  top: 50px;
  bottom: 118px;
  width: 100%;
  background: #f2f2f2;
  overflow: auto;
  border-bottom: 1px solid #b9babe;
  border-top: 1px solid #b9babe;
}

.content {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
  background: #f2f2f2;
  overflow: auto;
  border-top: 1px solid #b9babe;
}

.form-container {
  display: inline-block;
  margin-left: 25px;
  min-width: 60%;
}

.form-container textarea {
  background: inherit;
  border-style: none;
  border-color: transparent;
  overflow: auto;
  outline: none;
  height: 100%;
  width: 100%;
  min-height: 45px;
  min-width: 80px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  resize: none;
}

@media screen and (max-width: 767px) {
  .form-container {
    min-width: 0;
    max-width: 50%;
  }
}

.form-message-length {
  float: right;
  color: #888888;
  font-size: small;
}