.webcam-container {
  position: relative;
  float: left;
  height: 101px;
  width: 135px;
}

.webcam-container .timer {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  color: white;
}

.webcam-holder {
  position: absolute;
}