<div class="content">
  <div class="grid-container">
    <div class="grid-90 prefix-5 suffix-5 mobile-grid-100">
      <h2 style="text-align: center">{{t "about.one.header"}}</h2>
      <p>{{t-text-format "about.one.par1"}}</p>
      <p>{{t-text-format "about.one.par2"}}</p>
      <h2 style="text-align: center">{{t "about.two.header"}}</h2>
      <p>{{t-text-format "about.two.par1"}}</p>
      <p>{{t-text-format "about.two.par2"}}</p>
      <h2 style="text-align: center">{{t "about.three.header"}}</h2>
      <p>{{t-text-format "about.three.par1"}}</p>
    </div>
  </div>
</div>