<div class="header" style="position: relative">
  <div class=" grid-container">
    <div class="grid-90 prefix-5 suffix-5 mobile-grid-100" style="position: relative">
      <a href="/" class="brand">lemonspace!</a>
      <div class="options-button">≡</div>
      <div class="options">
        {{#link-to "join"}}{{t "menu.join_room"}}{{/link-to}}
        {{#link-to "about"}}{{t "menu.about"}}{{/link-to}}
      </div>
    </div>
  </div>
</div>

{{outlet}}