<div class="content">
  <div class="grid-container">
    <div class="grid-90 prefix-5 suffix-5 mobile-grid-100"
      style="text-align: center; font-size: 1.5em; margin-top: 5px">
      <div>
        {{t "join.prompt"}} {{input value=roomName}}
      </div>
      <div>
        {{#if roomName}}
          {{#if isValid}}
            → {{#link-to "room" roomName}}{{roomUrl}}{{/link-to}} →
          {{else}}
            <span style="color: red">
              {{t "join.invalid"}}
            </span>
          {{/if}}
        {{/if}}
      </div>
    </div>
  </div>
</div>