
  {{#if media}}
    <img class="msg-picture" {{bind-attr src=media}}></img>
  {{else}}
    {{img-dom from="profilaktika"}}
  {{/if}}
  <div class="msg-bubble">
    <div class="bubble">
      <div class="msg-time">
        {{moment-calendar time}}
      </div>
      {{text-format text}}
    </div>
  </div>
