<div class="room-content">
  <div class="grid-container">
    <div class="msg-container" style="margin-top: 10px">
    {{#each message in model}}
      <div class="grid-90 prefix-5 suffix-5 mobile-grid-100 msg">{{render "message" message}}</div>
    {{/each}}
    </div>
  </div>
</div>

<div class="room-footer">
  <div class="grid-container">
    <div class="grid-90 prefix-5 suffix-5 mobile-grid-100">
      <div class="webcam-container">
        <div class="timer">
          {{shootTime}}
        </div>
        {{#unless webcam}}
          {{img-dom from="profilaktika"}}
        {{/unless}}
        {{webcam-holder resizeToFit=true width=135 height=101
          start="startStreaming"
          stop="stopStreaming"
          error="errorStreaming"}}
      </div>
      <div class="form-container">
        <div class="bubble">
          {{textarea value=newMessageText class="msg-textarea" disabled=isSendBlocked}}
          <div class="clearfix">
            <div class="form-message-length">
              {{messageLengthLeft}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>